<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Marshall Trailers - Association of Bakery Ingredient Manufacturers</title>

    <!-- meta -->
    <meta name="keywords" content="Association of Bakery Ingredient Manufacturers, Marshall Trailers, baking industry, ingredients">
    <meta name="description" content="Marshall Trailers represents and promotes the common interests of UK companies who manufacture and supply a wide range of quality ingredients to the baking industry.">
    <meta name="language" content="en-gb">

    <!-- favicon -->
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">

    <!-- styles -->
    <link rel="stylesheet" href="js/vendor/animated-burgers.css" type="text/css">
    <link rel="stylesheet" href="js/vendor/mmenu.css" type="text/css">
    <link rel="stylesheet" href="js/vendor/slick/slick.css" type="text/css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      type="text/css">
    <link rel="stylesheet" href="css/styles.css" type="text/css">

    <!-- javaScript -->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4" defer></script>
    <script src="js/vendor/imagesloaded.pkgd.min.js" defer></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js" ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"
      integrity="sha512-WNLxfP/8cVYL9sj8Jnp6et0BkubLP31jhTG9vhL/F5uEZmg5wEzKoXp1kJslzPQWwPT1eyMiSxlKCgzHLOTOTQ=="
      crossorigin="anonymous" defer></script>
    <script src="js/vendor/slick/slick.min.js" defer></script>
    <script src="js/vendor/fslightbox.js" defer></script>
    <script src="js/vendor/jquery.validate.min.js" defer></script>
    <script src="js/vendor/mmenu.js" defer></script>
    <script src="js/vendor/lozad.min.js" defer></script>
    <script src="js/scripts.js?cb=123" defer></script>

  </head>
  <body>
    <a id="back-to-top" class="back-to-top"></a>
    <div id="page">
      <div id="top-drawer" class="bg-white flex items-center justify-center fixed w-full z-50 top-0 shadow-md">
    <div id="top-navigation" class="desktop-only w-full max-w-[var(--max-width)] mx-auto px-4 mt-4 transition-all duration-300 ease-in-out relative">
        <div class="inset-0 pt-4 w-full flex gap-4 items-start justify-end">
            <div class="flex flex-col gap-4 w-full">
                <div class="flex w-full justify-between items-start">
                    <a href="index.html"><img src="images/logo-marshall-trailers-color.png" alt="Marshall Trailers Logo" class="h-12 sm:h-20"></a>
                    <div class="flex flex-col gap-2 items-start">
                        <button type="button" aria-label="open menu" id="close-navigation" class="cursor-pointer">
                            <i class="fa-solid fa-xmark text-lg"></i>
                        </button>
                    </div>
                </div>
                <nav id="desktop-navigation">
                    <ul class="main-menu">
                        <li class="mobile-only">
                            <a href="index.html" title="Home">Home</a>
                        </li>
                        <li class="has-submenu">
                            <a href="products.html" title="Products">Products</a>
                            <ul class="submenu">
                                <li>
                                    <a href="range.html?range=silage-grain-trailers">Silage / Grain Trailers</a>
                                    <ul class="submenu">
                                        <li>
                                            <a href="products.html?range=silage-grain-trailers&product=qm6">QM-6 - 6.5 tons</a>
                                        </li>
                                        <li>
                                            <a href="products.html?range=silage-grain-trailers&product=qm8">QM-8 - 8.5 tons</a>
                                        </li>
                                        <li>
                                            <a href="products.html?range=silage-grain-trailers&product=qm11">QM-11 - 11 tons</a>
                                        </li>
                                        <li>
                                            <a href="products.html?range=silage-grain-trailers&product=qm12">QM-12 - 12 tons</a>
                                        </li>
                                        <li>
                                            <a href="products.html?range=silage-grain-trailers&product=qm1200">QM-1200 - 12 tons</a>
                                        </li>
                                        <li>
                                            <a href="products.html?range=silage-grain-trailers&product=qm14">QM-14 - 14.5 tons</a>
                                        </li>
                                        <li>
                                            <a href="products.html?range=silage-grain-trailers&product=qm1400">QM-1400 - 14.5 tons</a>
                                        </li>
                                        <li>
                                            <a href="products.html?range=silage-grain-trailers&product=qm16">QM-16 - 16.5 tons</a>
                                        </li>
                                        <li>
                                            <a href="products.html?range=silage-grain-trailers&product=qm1600">QM-1600 - 16.5 tons</a>
                                        </li>
                                        <li>
                                            <a href="products.html?range=silage-grain-trailers&product=qm1800">QM-1800 - 18.5 tons</a>
                                        </li>
                                        <li>
                                            <a href="products.html?range=silage-grain-trailers&product=additional-equipment">Addtional Equipment</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="range.html?range=dropside-trailers">Drop-Side Trailers</a>
                                    <ul class="submenu">
                                        <li>
                                            <a href="products.html?range=dropside-trailers&product=s1" title="S-1">S-1 - 1.5 tons</a>
                                        </li>
                                        <li>
                                            <a href="products.html?range=dropside-trailers&product=s2" title="S-2">S-2 - 2 tons</a>
                                        </li>
                                        <li>
                                            <a href="products.html?range=dropside-trailers&product=s4" title="S-4">S-4 - 4 tons</a>
                                        </li>
                                        <li>
                                            <a href="products.html?range=dropside-trailers&product=s5" title="S-5">S-5 - 5 tons</a>
                                        </li>
                                        <li>
                                            <a href="products.html?range=dropside-trailers&product=s6" title="S-6">S-6 - 6.5 tons</a>
                                        </li>
                                        <li>
                                            <a href="products.html?range=dropside-trailers&product=s85" title="S-85">S-85 - 8.5 tons</a>
                                        </li>
                                        <li>
                                            <a href="products.html?range=dropside-trailers&product=s10" title="S-10">S-10 - 10.5 tons</a>
                                        </li>
                                        <li>
                                            <a href="products.html?range=dropside-trailers&product=additional-equipment" title="Addtional Equipment">Addtional Equipment</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="/range/flat-bale-trailers">Flat / Bale Trailers</a>
                                    <ul class="submenu">
                                        <li>
                                            <a href="/flat-bale-trailers/bc21" title="BC-21">BC-21 - 21' x 8' / 10 tons</a>
                                        </li>
                                        <li>
                                            <a href="/flat-bale-trailers/bc2510t" title="BC-25-10T">BC-25-10T - 25' x 8'</a>
                                        </li>
                                        <li>
                                            <a href="/flat-bale-trailers/bc2512t" title="BC-25-12T">BC-25-12T - 25' x 8' 4"</a>
                                        </li>
                                        <li>
                                            <a href="/flat-bale-trailers/bc28" title="BC-28">BC-28 - 28' x 8' 4" / 14 tons</a>
                                        </li>
                                        <li>
                                            <a href="/flat-bale-trailers/bc32tan" title="BC-32-TAN">BC-32-TAN - 32' x 8' 4" / 14 tons</a>
                                        </li>
                                        <li>
                                            <a href="/flat-bale-trailers/bc32tri" title="BC-32-TRI">BC-32-TRI - 32' x 8' 4" / 16 tons</a>
                                        </li>
                                        <li>
                                            <a href="/flat-bale-trailers/bc36tan" title="BC-36-TAN">BC-36-TAN - 36' x 8' 4" / 16 tons</a>
                                        </li>
                                        <li>
                                            <a href="/flat-bale-trailers/bc36tri" title="BC-36-TRI">BC-36-TRI - 36' x 8' 4" / 16 tons</a>
                                        </li>
                                        <li>
                                            <a href="/flat-bale-trailers/additional-equipment" title="Addtional Equipment">Addtional Equipment</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="/range/low-loader-trailers">Low Loader Trailers</a>
                                    <ul class="submenu">
                                        <li>
                                            <a href="/low-loader-trailers/ll26tan" title="LL-26-TAN">LL-26-TAN - 16 tons</a>
                                        </li>
                                        <li>
                                            <a href="/low-loader-trailers/ll33tri" title="LL-33-TRI">LL-33-TRI - 21 tons</a>
                                        </li>
                                        <li>
                                            <a href="/low-loader-trailers/additional-equipment" title="Addtional Equipment">Addtional Equipment</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="/range/dumper-trailers">Dumper Trailers</a>
                                    <ul class="submenu">
                                        <li>
                                            <a href="/dumper-trailers/hd6" title="HD-6">HD-6 - 6 tons / 3.7 cu.mtrs</a>
                                        </li>
                                        <li>
                                            <a href="/dumper-trailers/hd8" title="HD-8">HD-8 - 8 tons / 5.4 cu.mtrs</a>
                                        </li>
                                        <li>
                                            <a href="/dumper-trailers/hd12" title="HD-12">HD-12 - 12 tons / 7 cu.mtrs</a>
                                        </li>
                                        <li>
                                            <a href="/dumper-trailers/hd14" title="HD-14">HD-14 - 14 tons / 8.7 cu.mtrs</a>
                                        </li>
                                        <li>
                                            <a href="/dumper-trailers/hd16" title="HD-16">HD-16 - 16 tons / 10.5 cu.mtrs</a>
                                        </li>
                                        <li>
                                            <a href="/dumper-trailers/additional-equipment" title="Addtional Equipment">Addtional Equipment</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="/range/feed-trailers">Feed Trailers</a>
                                    <ul class="submenu">
                                        <li>
                                            <a href="/feed-trailers/ft15" title="FT-15">FT-15 - 15' Long</a>
                                        </li>
                                        <li>
                                            <a href="/feed-trailers/ft20" title="FT-20">FT-20 - 20' Long</a>
                                        </li>
                                        <li>
                                            <a href="/feed-trailers/additional-equipment" title="Addtional Equipment">Addtional Equipment</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="/range/livestock-trailers-containers">Livestock Trailers / Containers</a>
                                    <ul class="submenu">
                                        <li>
                                            <a href="/livestock-trailers-containers/lst21" title="LST-21">LST-21 - 21' Long</a>
                                        </li>
                                        <li>
                                            <a href="/livestock-trailers-containers/lst25" title="LST-25">LST-25 - 25' Long</a>
                                        </li>
                                        <li>
                                            <a href="/livestock-trailers-containers/lst28" title="LST-28">LST-28 - 28' Long</a>
                                        </li>
                                        <li>
                                            <a href="/livestock-trailers-containers/lst32" title="LST-32">LST-32 - 32' Long</a>
                                        </li>
                                        <li>
                                            <a href="/livestock-trailers-containers/additional-equipment" title="Addtional Equipment">Addtional Equipment</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="/range/muck-spreaders">Muck Spreaders</a>
                                    <ul class="submenu">
                                        <li>
                                            <a href="/muck-spreaders/ms60" title="MS-60">MS-60 - 6 cu.yds</a>
                                        </li>
                                        <li>
                                            <a href="/muck-spreaders/ms75" title="MS-75">MS-75 - 7.5 cu.yds</a>
                                        </li>
                                        <li>
                                            <a href="/muck-spreaders/ms90" title="MS-90">MS-90 - 9 cu.yds</a>
                                        </li>
                                        <li>
                                            <a href="/muck-spreaders/ms105" title="MS-105">MS-105 - 10.5 cu.yds</a>
                                        </li>
                                        <li>
                                            <a href="/muck-spreaders/additional-equipment" title="Addtional Equipment">Addtional Equipment</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="/range/rear-discharge-muck-spreaders">Rear Discharge Muck Spreaders</a>
                                    <ul class="submenu">
                                        <li>
                                            <a href="/rear-discharge-muck-spreaders/ves1500" title="VES-1500">VES-1500 - 9 tons</a>
                                        </li>
                                        <li>
                                            <a href="/rear-discharge-muck-spreaders/ves2000" title="VES-2000">VES-2000 - 12 tons</a>
                                        </li>
                                        <li>
                                            <a href="/rear-discharge-muck-spreaders/ves2500" title="VES-2500">VES-2500 - 14 tons</a>
                                        </li>
                                        <li>
                                            <a href="/rear-discharge-muck-spreaders/additional-equipment" title="Addtional Equipment">Addtional Equipment</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="/range/tankers">Tankers</a>
                                    <ul class="submenu">
                                        <li>
                                            <a href="/tankers/st1200" title="ST-1200">ST-1200 - 1220 gallons</a>
                                        </li>
                                        <li>
                                            <a href="/tankers/st1400" title="ST-1400">ST-1400 - 1400 gallons</a>
                                        </li>
                                        <li>
                                            <a href="/tankers/st1600" title="ST-1600">ST-1600 - 1550 gallons</a>
                                        </li>
                                        <li>
                                            <a href="/tankers/st1800" title="ST-1800">ST-1800 - 1800 gallons</a>
                                        </li>
                                        <li>
                                            <a href="/tankers/st2000" title="ST-2000">ST-2000 - 2150 gallons</a>
                                        </li>
                                        <li>
                                            <a href="/tankers/st2300" title="ST-2300">ST-2300 - 2340 gallons</a>
                                        </li>
                                        <li>
                                            <a href="/tankers/st2550" title="ST-2550">ST-2550 - 2560 gallons</a>
                                        </li>
                                        <li>
                                            <a href="/tankers/st3000" title="ST-3000">ST-3000 - 3000 gallons</a>
                                        </li>
                                        <li>
                                            <a href="/tankers/st3500" title="ST-3500">ST-3500 - 3500 gallons</a>
                                        </li>
                                        <li>
                                            <a href="/tankers/additional-equipment" title="Addtional Equipment">Addtional Equipment</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="/range/people-carrier-trailers">People Carrier Trailers</a>
                                    <ul class="submenu">
                                        <li>
                                            <a href="/people-carrier-trailers/pc21" title="PC-21">PC-21 - 21' x 8' / 27 People</a>
                                        </li>
                                        <li>
                                            <a href="/people-carrier-trailers/additional-equipment" title="Addtional Equipment">Addtional Equipment</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="dealer-fit.html" title="Dealer Fit">Dealer Fit</a>
                        </li>
                        <li class="desktop-only">
                            <a href="configure-machine.html" title="Configure a Marshall Machine">Price & Configure</a>
                        </li>
                        <li>
                            <a href="spares.html" title="Spares">Spares</a>
                        </li>
                        <li>
                            <a href="stock-clearance.html" title="Stock Clearance">Stock Clearance</a>
                        </li>
                        <li>
                            <a href="about-us.html" title="About Us">About us</a>
                        </li>
                        <li>
                            <a href="contact-us.html" title="Contact">Contact</a>
                        </li>
                        <li class="no-bg">
                            <a href="search.html" title="Search the our site">Search</a>
                        </li>
                    </ul>

                </nav>
            </div>
        </div>
    </div>
</div>
      

    <div class="homepage mx-auto top-0 left-1/2 -translate-x-1/2 w-full max-w-[var(--max-width)] z-10 absolute">
        
    <div class="section logo-wrapper flex items-center sm:items-start justify-between pt-4">
        <a href="index.html"><img src="images/logo-marshall-trailers.png" alt="Marshall Trailers Logo" class="h-16 sm:h-12 sm:h-20"></a>
        <div class="flex flex-col gap-2 items-end flex desktop-buttons">
            <div class="flex gap-4 items-center ">
                <a href="contact.html" class="mr-8">Register / Login</a>
                <i class="fa-solid fa-phone"></i>
                <i class="fa-solid fa-at"></i>
                <button type="button" aria-label="open menu" id="open-navigation" class="cursor-pointer">
                    <i class="fa-solid fa-bars"></i>
                </button>
            </div>
        </div>
        <button type="button" aria-label="open menu" id="toggle-mobile-navigation" class="mobile-buttons">
            <i class="fa-solid fa-bars text-2xl"></i>
        </button>
    </div>

    </div>

    <div class="hero">
        <div id="carousel-main" class="carousel-main">
            <div v-for="(slide, i) in heroCarouselData" :key="i" class="slide preload" :style="{ backgroundImage: 'url(' + slide.image + ')' }">
                <div class="copy-wrapper">
                    <div class="copy-content">
                        <h1 class="hero-title">[[ slide.title ]]</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-4 pb-6 md:mt-8 md:pb-8 max-w-[var(--max-width)] mx-auto">
        <div class="border-t border-[var(--brand-gray)] mx-4"></div>
    </div>

    <div class="section flex flex-col gap-2" id="carousel-mini">
        <h2>Product Ranges</h2>
        <div class="carousel-mini">
            <div v-for="(range, i) in productRanges" :key="i" class="slide">
                <a class="pod" :href="range.url">
                    <h4 class="title line-clamp-1">[[ range.title ]]</h4>
                    <div class="image-wrapper">
                        <img :src="range.image" :alt="range.title">
                    </div>
                </a>
            </div>
        </div>
        <div class="carousel-controls">
            <button type="button" @click="prev">
                <i class="fa-solid fa-caret-left"></i>
            </button>
            <button type="button" @click="next">
                <i class="fa-solid fa-caret-right"></i>
            </button>
        </div>
    </div>

    <div id="tabs-section" class="tabs-section">
        <h2 class="section-title">Our Values</h2>
        <li class="tabs-list desktop-only px-4" role="presentation">
            <button v-for="tab in tabs" :key="tab.id"
                        type="button"
                        :class="{ active: activeTab === tab.id }"
                        role="tab"
                        @click="setActiveTab(tab.id)"
                        :aria-selected="[[ activeTab === tab.id ]]">
                [[ tab.header ]]
            </button>
        </li>
        <div class="tab-content">
            <div v-for="tab in tabs" :key="tab.id">
                <div class="accordion-header mobile-only" role="tab" :class="{ active: activeTab === tab.id }">
                    <button type="button"
                        role="tab"
                        @click="setActiveTab(tab.id)"
                        class="flex gap-2 items-center justify-between px-4"
                        :aria-selected="[[ activeTab === tab.id ]]">
                        <span>[[ tab.header ]]</span>
                        <i class="fa-solid fa-caret-right text-xl text-[var(--brand-yellow)] hover:text-[var(--brand-red)] cursor-pointer"
                        :class="{ 'rotate-90': activeTab === tab.id }"
                        ></i>
                    </button>
                </div>
                <div v-show="activeTab === tab.id" class="tab-hero-content">
                    <div class="copy-wrapper">
                        <h3 class="title">[[ tab.title ]]</h3>
                        <p>[[ tab.content ]]</p>
                        <a :href="tab.href" class="bttn bordered-bttn">[[ tab.label ]]</a>
                    </div>
                    <div class="image-wrapper" :style="{ backgroundImage: 'url(' + tab.imageSrc + ')' }"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="section with-subsection has-overlap">
        <div class="w-full">
            <h3 class="subsection-title">Configure your new Marshall</h3>
            <div class="subsection-content border border-[var(--brand-gray)] p-4 w-full rounded-sm">
                <img class="subsection-bg" src="images/sub-section-bg-1.png" alt="">
                <div class="text-wrapper">
                    <p>Configure your new Marshall trailer with our easy-to-use online tool, it is amazingly simple and efficient.</p>
                    <a href="#" class="bttn">
                        <i class="fa-solid fa-user-gear"></i>
                        <span>Configure</span></a>
                </div>
            </div>
        </div>
        <div class="w-full">
            <h3 class="subsection-title">Official Marshall spares</h3>
            <div class="subsection-content border border-[var(--brand-gray)] p-4 w-full rounded-sm">
                <img class="subsection-bg" src="images/sub-section-bg-2.png" alt="">
                <div class="text-wrapper">
                    <p>Here at Marshall Trailers, we pride ourselves on providing genuine spare parts to keep your equipment running smoothly.
                    </p>
                    <a href="#" class="bttn">
                        <i class="fa-solid fa-gear"></i>
                        <span>Spares</span></a>
                </div>
            </div>
        </div>
    </div>

    <div class="section flex flex-col gap-0">
        <h3 class="section-title">As hardworking as you are</h3>
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/IXVJs-1LzPQ?si=5u_n3SonjP-GkfN7&amp;start=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>

    <div class="mt-6 pb-2 md:mt-8 md:pb-4 max-w-[var(--max-width)] mx-auto">
        <div class="border-t border-[var(--brand-gray)] mx-4"></div>
    </div>

    <script>
        var carouselData = [
            {
                title: 'The Legendary Marshall Muckspreader',
                image: 'images/sample-hero.jpg',
                url: '#'
            }, {
                title: 'New Low Loader',
                image: 'images/sample-hero-2.jpg',
                url: '#'
            }, {
                title: 'The Marshall Livestock Container',
                image: 'images/sample-hero-3.jpg',
                url: '#'
            }, {
                title: 'Marshall Drop-side Trailer',
                image: 'images/sample-hero-4.jpg',
                url: '#'
            }
        ]

        var productRangesData = [
            {
                title: 'Drop-side Trailers',
                image: 'images/range-1.png',
                url: 'range.html?range=dropside-trailers'
            }, {
                title: 'New Low Loaders',
                image: 'images/range-2.png',
                url: 'range.html?range=new-low-loaders'
            }, {
                title: 'Grain & Silage',
                image: 'images/range-3.png',
                url: 'range.html?range=grain-and-silage'
            }, {
                title: 'Livestock Containers',
                image: 'images/range-4.png',
                url: 'range.html?range=livestock-containers'
            }, {
                title: 'Multi-purpose Dumpsters',
                image: 'images/range-1.png',
                url: 'range.html?range=multi-purpose-dumpsters'
            }, {
                title: 'Slurry Tankers',
                image: 'images/range-3.png',
                url: 'range.html?range=slurry-tankers'
            }, {
                title: 'Muck Spreaders',
                image: 'images/range-3.png',
                url: 'range.html?range=muck-spreaders'
            }, {
                title: 'Feeder Trailers',
                image: 'images/range-3.png',
                url: 'range.html?range=feeder-trailers'
            }, {
                title: 'People Carrier Trailers',
                image: 'images/range-1.png',
                url: 'range.html?range=people-carrier-trailers'
            }, {
                title: 'Flat/Bale Trailers',
                image: 'images/range-2.png',
                url: 'range.html?range=flat-bale-trailers'
            }, {
                title: 'Rear Discharge Spreaders',
                image: 'images/range-2.png',
                url: 'range.html?range=rear-discharge-spreaders'
            }, {
                title: 'Tankers',
                image: 'images/range-3.png',
                url: 'range.html?range=tankers'
            }
        ]

        var tabsData = [
            {
                id: 1,
                header: "Heritage",
                title: "We have grown together",
                content: "Growing from a small family business to one of the UK's leading trailer manufacturers, Marshalls Trailers has a rich heritage built on quality, innovation, and customer satisfaction. Our journey reflects our commitment to excellence and our passion for delivering top-notch trailers to our valued customers.",
                imageSrc: "images/tab-bg-heritage.png",
                label: "Read More",
                href: "#"
            }, {
                id: 2,
                header: "Innovation",
                title: "Winners of multiple awards",
                content: "At Marshalls Trailers, innovation is at the heart of everything we do. Our commitment to research and development has led to numerous industry awards, recognizing our cutting-edge designs and advanced manufacturing techniques. We continuously strive to push the boundaries of trailer technology to meet the evolving needs of our customers.",
                imageSrc: "images/tab-bg-innovation.png",
                label: "See Full List",
                href: "#"
            }, {
                id: 3,
                header: "Quality",
                title: "Building a greener future",
                content: "Marshalls Trailers is dedicated to sustainability, implementing eco-friendly practices in our manufacturing processes and designing trailers that help reduce environmental impact for our customers. We are committed to building a greener future for generations to come.",
                imageSrc: "images/tab-bg-quality.png",
                label: "Discover How",
                href: "#"
            }, {
                id: 4,
                header: "Value",
                title: "Supporting local initiatives",
                content: "We believe in giving back to the community. Marshalls Trailers actively supports local initiatives and charities, fostering strong relationships and making a positive impact in the areas where we operate. Our commitment to social responsibility is a core value of our company.",
                imageSrc: "images/tab-bg-value.png",
                label: "Talk To Us",
                href: "#"
            }
        ]

        document.addEventListener('DOMContentLoaded', () => {
            const {createApp, onMounted, ref} = Vue;
            createApp({
                delimiters: [
                    '[[', ']]'
                ],
                setup() {
                    const productRanges = ref(productRangesData);

                    onMounted(() => {
                        if (window.miniCarousel) {
                            window
                                .miniCarousel
                                .init();
                        }
                    });

                    const prev = () => {
                        if (window.miniCarousel) {
                            window
                                .miniCarousel
                                .prev();
                        }
                    }

                    const next = () => {
                        if (window.miniCarousel) {
                            window
                                .miniCarousel
                                .next();
                        }
                    }

                    return {productRanges, prev, next}
                }
            }).mount('#carousel-mini');

            createApp({
                delimiters: [
                    '[[', ']]'
                ],
                setup() {
                    const tabs = ref(tabsData);
                    const activeTab = ref(1);

                    const setActiveTab = (id) => {
                        activeTab.value = id;
                    }
                    return {tabs, activeTab, setActiveTab}
                }
            }).mount('#tabs-section');

            createApp({
                delimiters: [
                    '[[', ']]'
                ],
                setup() {
                    const heroCarouselData = ref(carouselData);

                    onMounted(() => {
                        if (window.heroCarousel) {
                            window
                                .heroCarousel
                                .init();
                        }
                    });
                    return {heroCarouselData}
                }
            }).mount('#carousel-main');

        });
    </script>


      <div class="footer">
    <div class="section flex flex-col gap-8 md:flex-row-reverse md:justify-between">
        <ul class="flex flex-col gap-3 text-sm font-semibold sm:flex-row sm:gap-8">
            <li>
                <a href="site-map.html">Site Map</a>
            </li>
            <li>
                <a href="terms-and-conditions.html">Terms & Conditions</a>
            </li>
            <li>
                <a href="privacy-cookies.html">Privacy & Cookies</a>
            </li>
        </ul>
        <div class="text-sm">
            <p>Charles J Marshall (Aberdeen) Limited,
                    <br/>Chapel Works, Bucksburn, 
                    <br/>Aberdeen, AB21 9TL</p>
            <p>
                T: <a href="tel:+441224707070">(01224) 722777</a>
                <br/>E: <a href="mailto:charles@marshall-trailers.co.uk">charles@marshall-trailers.co.uk</a>
            </p>
            <p>Registration Number: <strong>SC064659</strong>
            </p>
        </div>
    </div>
</div>
    </div>
  </body>
</html>