/* Base Styles */
#floating-basket {
  position: fixed;
  z-index: 1000;
  background: #fff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  font-family: sans-serif;
  transition: all 0.3s ease;
  overflow: hidden;
  padding: 10px;

  .title {
    margin: 0;
    padding: 0;
    line-height: 1;
  }

  .basket-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8px;
  }

  .basket-details {
    display: flex;
    flex-direction: column;
    gap: 0.375rem;
    line-height: 1;
  }

  .total-price {
    font-weight: bold;
  }

  .basket-content {
    justify-content: space-between;
    gap: 1rem;
    border: 1px solid var(--brand-gray);
    padding: 10px;
  }

  .close-basket-button {
    cursor: pointer;
  }
}

/* Desktop: Top Right */
@media (min-width: 769px) {
  #floating-basket {
    top: 90px;
    right: -345px;
    width: 400px;
    transition: all 0.3s ease-in-out;
    padding-right: 16px;

    &.open {
      right: -1px;
    }

    .basket-content {
      display: flex;
    }
    .basket-progress {
      display: none;
    }

    &.busy {
      .basket-content {
        display: none;
      }
      .basket-progress {
        display: flex;
      }
    }
  }

  .basket-inner {
    display: flex;
    gap: 1rem;
  }

  .desktop-button {
    background-color: var(--brand-red);
    color: white;
    padding: 8px;
    writing-mode: vertical-rl;
    font-size: 0.8rem;
    cursor: pointer;
  }

  .basket-wrapper {
    flex-grow: 1;
  }

  .basket-progress {
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 8px;
    font-size: 0.9rem;
    color: var(--brand-red);
  }
}

/* Mobile: Full Width Bottom */
@media (max-width: 768px) {
  #floating-basket {
    bottom: -120px;
    right: 0;
    left: 0;
    width: 100%;
    border-top: 3px solid var(--brand-red);

    &.open {
      bottom: 0;
    }
  }

  .desktop-button {
    display: none;
  }
}
