/* Base Styles */
#floating-basket {
  position: fixed;
  z-index: 1000;
  background: #fff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  font-family: sans-serif;
  transition: all 0.3s ease;
  overflow: hidden;

  .title {
    margin: 0;
    padding: 0;
    line-height: 1;
  }

  .basket-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
  }

  .basket-details {
    display: flex;
    flex-direction: column;
    gap: 0.375rem;
    line-height: 1;
  }

  .total-price {
    font-weight: 600;
    font-family: "Geometr415", sans-serif;
  }

  .basket-content {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    border: 1px solid var(--brand-gray);
    padding: 10px;
  }

  .close-basket-button {
    cursor: pointer;
  }

  .basket-progress {
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    color: var(--brand-red);
    display: none;
    flex-grow: 1;
  }

  &.busy {
    .basket-content {
      display: none;
    }
    .basket-progress {
      display: flex;
    }
  }
}

/* Desktop: Top Right */
@media (min-width: 769px) {
  #floating-basket {
    top: 260px;
    right: -356px;
    width: 400px;
    transition: all 0.3s ease-in-out;
    padding-right: 16px;

    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;

    &.open {
      right: -1px;
    }
  }

  .basket-inner {
    display: flex;
    gap: 1rem;
  }

  .desktop-button {
    background-color: var(--brand-red-dark);
    color: white;
    padding: 10px;
    writing-mode: vertical-rl;
    font-size: 1rem;
    cursor: pointer;
    font-family: "Geometr415", sans-serif;
  }

  .basket-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
}

/* Mobile: Full Width Bottom */
@media (max-width: 768px) {
  #floating-basket {
    bottom: -130px;
    right: 0;
    left: 0;
    width: 100%;
    border-top: 3px solid var(--brand-red);
    padding: 0 10px 10px 10px;

    &.open {
      bottom: 0;
    }
  }

  .basket-progress {
    border: 1px solid var(--brand-gray);
    height: 60px;
  }

  .desktop-button {
    display: none;
  }
}
