@import url('https://fonts.googleapis.com/css2?family=Amiko:wght@400;600;700&display=swap');

/* Available styles */
/*
.amiko-regular {
  font-family: "Amiko", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.amiko-semibold {
  font-family: "Amiko", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.amiko-bold {
  font-family: "Amiko", sans-serif;
  font-weight: 700;
  font-style: normal;
}
*/




