@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@font-face {
  font-family: "Geometr415";
  font-style: normal;
  font-weight: bold;
  src: url("Geometr415_2_0.eot");
  src:
    url("Geometr415_2_0.woff2") format("woff2"),
    url("Geometr415_2_0.woff") format("woff"),
    url("Geometr415_2_0.ttf") format("truetype");
}

@font-face {
  font-family: "Geometr415";
  font-style: normal;
  font-weight: normal;
  src: url("Geometr415_0_0.eot");
  src:
    url("Geometr415_0_0.woff2") format("woff2"),
    url("Geometr415_0_0.woff") format("woff"),
    url("Geometr415_0_0.ttf") format("truetype");
}
