.form {
  textarea {
    border: 1px solid var(--system-gray);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: inherit;
    outline: none;
    border-radius: 3px;
    background-color: white;
    color: var(--brand-text);
    padding: 5px 8px;
    resize: none;
    width: 100%;
    height: 80px;
  }

  .field-set {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    margin-bottom: 1rem;

    label {
      display: flex;
      flex-direction: column;
    }

    .short-label {
      max-width: 150px;
    }
  }

  .styled-select {
    position: relative;
    display: inline-block;
    width: 100%;

    select {
      width: 100%;
      padding: 5px 8px;
      border: 1px solid var(--system-gray);
      border-radius: 3px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      height: inherit;
      outline: none;
      background-color: white;
      color: var(--brand-text);
    }

    &::after {
      content: "\f0d7";
      font-family: "Font Awesome 6 Free";
      font-weight: 900;
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
      color: var(--brand-red);
      font-size: 14px;
      pointer-events: none;
    }
  }

  select {
    border: 1px solid var(--system-gray);
    padding: 5px 8px;
    border-radius: 3px;

    &.error {
      border-color: var(--brand-red);
    }
  }

  .error-message {
    color: var(--brand-red);
    font-size: 0.875rem;
    margin-top: 0.25rem;
  }

  input {
    &[type="text"],
    &[type="email"],
    &[type="phone"],
    &[type="tel"],
    &[type="number"],
    &[type="password"] {
      border: 1px solid var(--system-gray);
      border-radius: 3px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      height: inherit;
      outline: none;
      background-color: white;
      color: var(--brand-text);
      padding: 6px 8px;
      line-height: 1;
      width: 100%;
    }

    &.error {
      border-color: var(--brand-red);
    }
  }

  .input-group {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin-bottom: 1rem;
  }

  .input-group-pair {
    display: flex;
    flex-direction: column;

    @media (min-width: 767px) {
      flex-direction: row;
      justify-content: space-between;

      .input-group {
        width: 49%;
      }
    }
  }
}

.single-input-form {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
  align-items: flex-end;

  label {
    input {
      width: 80px;
    }
  }
}

.checkbox-label {
  display: flex;
  align-items: flex-start;
  gap: 0.75rem;

  input {
    width: 22px;
    height: 22px;
    cursor: pointer;
    accent-color: var(--brand-red);
  }

  span {
    margin: 0;
    padding: 0;
    flex: 1;
  }
}
