.form {
  // [type="submit"] {
  //   display: inline-block;
  //   margin: 1rem 0;

  //   @media (min-width: $breakpoint3) {
  //     margin: 2rem 0;
  //   }
  // }

  textarea {
    border: 1px solid var(--brand-gray-dark);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: inherit;
    outline: none;
    border-radius: 1px;
    background-color: white;
    color: var(--brand-text);
    padding: 8px 8px 5px 8px;
    resize: none;
    width: 100%;
    height: 120px;
    border-radius: 2px;
  }

  .field-set {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    margin-bottom: 1rem;

    label {
      display: flex;
      flex-direction: column;
    }

    .short-label {
      max-width: 150px;
    }
  }

  select {
    border: 1px solid var(--system-gray);
    padding: 8px 8px 5px 5px;

    // -webkit-appearance: none;
    // -moz-appearance: none;
    // appearance: none;
    // height: inherit;
    // outline: none;
    // width: 100%;
    // line-height: 1;

    // &::after {
    //   /* FontAwesome Setup */
    //   content: "\f078"; /* Unicode for chevron-down */
    //   font-family: "Font Awesome 6 Free";
    //   font-weight: 900;

    //   /* Positioning */
    //   position: absolute;
    //   right: 15px;
    //   top: 50%;
    //   transform: translateY(-50%);

    //   /* Styling */
    //   color: #666;
    //   font-size: 14px;

    //   /* Interaction */
    //   pointer-events: none;
    // }
  }

  .error-message {
    color: var(--brand-red);
    font-size: 0.875rem;
    margin-top: 0.25rem;
  }

  input {
    &[type="text"],
    &[type="email"],
    &[type="phone"],
    &[type="tel"],
    &[type="number"],
    &[type="password"] {
      border: 1px solid var(--brand-gray-dark);
      border-radius: 2px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      height: inherit;
      outline: none;
      background-color: white;
      color: var(--brand-text);
      padding: 8px 8px 5px 8px;
      line-height: 1;
      width: 100%;
    }

    &.error {
      border-color: var(--brand-red);
    }

    &[type="checkbox"] {
      // transform: scale(1.5);
    }
  }

  // .form-group {
  //   margin-bottom: 1.25rem;

  //   label {
  //     line-height: 130%;
  //     font-size: 1rem;
  //     display: block;
  //     padding-bottom: 0.5rem;

  //     @media (min-width: $breakpoint3) {
  //       font-size: 1.25rem;
  //     }
  //   }

  //   &.checkbox-group {
  //     display: flex;
  //     align-items: flex-start;
  //     gap: 1.2rem;
  //     margin-top: 0.5rem;

  //     label {
  //       cursor: pointer;
  //       font-weight: bold;
  //     }

  //     input {
  //       transform: scale(1.5);
  //       margin-top: 0.35rem;
  //     }
  //   }
  // }

  .input-group {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin-bottom: 1rem;
  }

  .input-group-pair {
    display: flex;
    flex-direction: column;

    @media (min-width: 767px) {
      flex-direction: row;
      justify-content: space-between;

      .input-group {
        width: 49%;
      }
    }
  }
}

.single-input-form {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
  align-items: flex-end;

  label {
    input {
      width: 80px;
    }
  }
}

.checkbox-label {
  display: flex;
  align-items: flex-start;
  gap: 0.75rem;

  input {
    width: 22px;
    height: 22px;
    cursor: pointer;
  }

  span {
    margin: 0;
    padding: 0;
    flex: 1;
  }
}
