* {
  outline: none;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  box-sizing: border-box;
  font-size: 100%;
  scroll-behavior: smooth;
  background-color: white;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: var(--brand-text);
  font-size: 16px;
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  // font-family: "Montserrat", sans-serif;
  // font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-top: 0;
  letter-spacing: -0.5px;
  margin-bottom: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.3;
}

h1 {
  font-family: "Geometr415", sans-serif;
  font-size: 36px;
  @media (max-width: 768px) {
    font-size: 28px;
  }
}

h2 {
  font-family: "Geometr415", sans-serif;
  font-size: 28px;
  @media (max-width: 768px) {
    font-size: 24px;
  }

  &.under-border {
    position: relative;
    padding-bottom: 1rem;
    margin-bottom: 2rem;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 60px;
      height: 4px;
    }

    &.yellow {
      &:after {
        background-color: var(--brand-yellow);
      }
    }

    &.red {
      &:after {
        background-color: var(--brand-red);
      }
    }
  }
}

h3 {
  font-size: 22px;
  margin-bottom: 0.75rem;
  font-family: "Geometr415", sans-serif;

  @media (max-width: 768px) {
    font-size: 20px;
  }
}

h4 {
  font-family: "Geometr415", sans-serif;
  font-size: 18px;
}

strong {
  font-weight: 600;
}

p {
  margin-bottom: 1rem;
}
