* {
  outline: none;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  box-sizing: border-box;
  font-size: 100%;
  scroll-behavior: smooth;
  background-color: white;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: var(--colour-text);
  font-size: 16px;
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;

  font-family: "Amiko", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--colour-headers);
  font-family: "Amiko", sans-serif;
  font-weight: 600;
  font-style: normal;
  margin-top: 0;
  margin-bottom: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-size: 35px;
  @media (max-width: 768px) {
    font-size: 28px;
  }
}

h3 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 0.75rem;

  @media (max-width: 768px) {
    font-size: 20px;
  }
}

h4 {
  font-size: 18px;
}

strong {
  font-weight: bold;
}

p {
  margin-bottom: 1rem;
}
