#top-drawer {
  position: fixed;
  top: -5px;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
  border-bottom: 2px solid var(--brand-red);
  // height: 600px;

  // &:has(.scrolled) {
  //   background-color: var(--brand-gray-light);

  //   #top-navigation {
  //     .main-menu {
  //       background-color: var(--brand-gray-light);
  //     }
  //   }
  // }
}

#top-navigation {
  margin-top: -160px;

  &.opened {
    margin-top: 0;
  }

  &.scrolled {
    margin-top: -105px;
  }

  .has-submenu {
    ul {
      display: none;
    }
  }
}

#top-navigation .main-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: white;
  display: flex;
  justify-content: start;
}

// #top-navigation .main-menu li {
//   position: relative;
// }

#top-navigation .main-menu > li {
  &:has(ul) {
    > a {
      &:after {
        content: "\f0d7";
        font-family: FontAwesome;
        font-weight: normal;
        font-style: normal;
        margin-left: 8px;
        font-size: 0.8em;
        color: var(--brand-yellow);
      }
    }
  }
}

#top-navigation .main-menu a {
  display: block;
  padding: 8px 20px 5px 20px;
  text-decoration: none;
  transition: background-color 0.3s;
  font-size: 1rem;
  white-space: nowrap;
}

#top-navigation .main-menu li > a {
  border-bottom: 3px solid transparent;
}

.mega-nav {
  height: 0;
  background-color: white;
  transition: height 0.3s;
  position: relative;
  overflow: hidden;

  &.open {
    height: var(--dropdown-height);
  }

  .mega-nav-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--dropdown-height);
    padding-top: 1rem;

    display: flex;
    gap: 4px;
  }

  .level-0 {
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 280px;
  }

  .level-1 {
    ul {
      display: none;

      &.open {
        display: flex;
      }
    }
  }

  .level-2 {
    margin-left: auto;
  }

  .image-wrapper {
    aspect-ratio: 1.35 / 1;
    background-image: url(../images/slide-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 420px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 90%;
      height: auto;
      display: block;
    }
  }

  .product-specifications {
    border-top: 1px solid var(--brand-gray);
    margin-top: 1rem;
    padding-top: 0.5rem;
    font-size: 0.9rem;
  }

  a {
    padding: 10px 16px;
    font-size: 0.9rem;
    background-color: var(--brand-gray);
    display: block;
    line-height: 1;

    &:hover {
      background-color: white;
    }
  }
}

// #top-navigation .main-menu li:hover > a {
//   border-bottom: 3px solid var(--brand-yellow);
// }

// #top-navigation .submenu {
//   list-style: none;
//   margin: 0;
//   padding: 0;
//   position: absolute;
//   top: 100%;
//   left: 0;
//   min-width: 200px;
//   display: none;
//   background-color: white;
// }

// #top-navigation .submenu li {
//   width: 100%;
//   background-color: var(--brand-gray);
// }

// #top-navigation .submenu a {
//   padding: 8px 20px 5px 16px;
//   color: black;
//   background-color: var(--brand-gray);
// }

// #top-navigation .main-menu li:hover > .submenu {
//   display: flex;
//   flex-direction: column;
//   gap: 1px;
// }

// /* For the 3rd level menu */
// #top-navigation .submenu .submenu {
//   top: 0;
//   left: 100%;
// }

// #top-navigation .submenu .submenu a {
//   border-left: 1px solid white;
// }

// #top-navigation .submenu li:hover > a {
//   background-color: white;
// }

/* mobile navigation */
/* ================================================================= */
.mm-panels {
  --colour-links: var(--system-black);

  .mm-panel {
    background-color: white;
  }

  a {
    font-size: 1rem;
  }

  .mm-btn:after,
  .mm-btn:before {
    border-color: var(--brand-yellow) !important;
  }

  .active {
    a {
      font-weight: bold;
    }
  }

  // Hides the "MENU" part
  > div {
    &:first-child {
      .mm-navbar_sticky {
        display: none;
      }
    }
  }

  // Hides second part of slide out subnav
  // Using opacity:0 so it remains interactive
  .mm-navbar_sticky {
    > a {
      &:last-child {
        opacity: 0;
      }
    }
  }
}
