#top-drawer {
  position: fixed;
  top: -160px;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
  border-bottom: 2px solid white;
  transition: all 0.3s;

  transition:
    height 0.3s,
    border-color 0.3s,
    top 0.3s;

  &.open {
    border-color: var(--brand-red);
  }

  &.peek {
    top: 0;
  }

  &.scrolled {
    top: -105px;
  }

  @media (max-width: $breakpoint4) {
    display: none;
  }
}

.close-navigation {
  cursor: pointer;
  margin-top: 50px;
}

#top-navigation {
  &.opened {
    margin-top: 0;
  }

  &.scrolled {
    margin-top: -105px;
  }

  transition: height 0.2s ease;
}

#top-navigation .main-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: white;
  display: flex;
  justify-content: start;
  gap: 4px;

  .home-link {
    display: none;
  }
}

#top-navigation .main-menu a {
  display: block;
  padding: 8px 20px 5px 20px;
  text-decoration: none;
  transition: background-color 0.3s;
  background-color: white;
  font-size: 1rem;
  white-space: nowrap;
  border-bottom: 3px solid transparent;
}

#top-navigation .main-menu > li {
  position: relative;

  ul {
    display: flex;
    flex-direction: column;
    z-index: 1000;
    position: absolute;
    min-width: 240px;
    padding-bottom: 1rem;
    opacity: 0;
    transition: opacity 0.3s;
    transition-delay: 0.1s;
    padding-top: 8px;

    li {
      border-bottom: 4px solid white;
    }

    a {
      background-color: var(--brand-gray);
      border-left: 4px solid transparent;
      padding: 8px 20px 5px 16px;
      border-bottom: none;

      &:hover {
        background-color: white;
        border-color: var(--brand-yellow);
      }
    }
  }

  > ul {
    top: 100%;
    left: -9999px;
  }

  &.active {
    > a {
      border-color: var(--brand-yellow);
    }
  }

  &:has(ul) {
    > a {
      &:after {
        content: "\f0d7";
        font-family: FontAwesome;
        font-weight: normal;
        font-style: normal;
        margin-left: 8px;
        font-size: 0.8em;
        color: var(--brand-yellow);
      }
    }
  }

  @media (hover: hover) {
    &:hover {
      > ul {
        left: 0;
        opacity: 1;
      }

      > a {
        border-color: var(--brand-yellow);
      }
    }
  }

  ul {
    // level 2
    li {
      ul {
        // level 3
        top: 0;
        left: -9999px;
        padding-left: 4px;
        height: 100%;
      }

      &.active,
      &:hover {
        > ul {
          left: 100%;
          opacity: 1;
        }

        > a {
          background-color: white;
          border-color: var(--brand-yellow);
        }
      }
    }
  }
}

.product-spotlight {
  margin-top: 8px;
  width: 420px;
  margin-left: auto;
  display: none;

  .image-wrapper {
    aspect-ratio: 1.35 / 1;
    margin-left: auto;
    margin-bottom: 10px;

    background-image: url(../images/slide-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;

    .product-image {
      width: 70%;
      height: auto;
      display: block;
      max-height: 80%;
    }
  }

  .text-wrapper {
    border-top: 1px solid var(--brand-gray);
    padding: 0.5rem;
    text-align: center;
  }
}

#floating-nav {
  position: fixed;
  top: 400px;
  right: 0;
  z-index: 1000;

  @media (max-width: 768px) {
    display: none;
  }
}

/* mobile navigation */
/* ================================================================= */
.mm-panels {
  --colour-links: var(--system-black);

  .mm-panel {
    background-color: white;
  }

  a {
    font-size: 1rem;
  }

  .mm-btn:after,
  .mm-btn:before {
    border-color: var(--brand-yellow) !important;
  }

  .active {
    a {
      font-weight: bold;
      color: var(--brand-red);
    }
  }

  // Hides the "MENU" part
  > div {
    &:first-child {
      .mm-navbar_sticky {
        display: none;
      }
    }
  }

  // Hides second part of slide out subnav
  // Using opacity:0 so it remains interactive
  .mm-navbar_sticky {
    > a {
      &:last-child {
        opacity: 0;
      }
    }
  }
}
