#top-navigation .main-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: white;
  display: flex;
  justify-content: start;
}

#top-navigation .main-menu li {
  position: relative;
}

#top-navigation .main-menu > li {
  &:has(ul) {
    > a {
      &:after {
        content: "\f0d7";
        font-family: FontAwesome;
        font-weight: normal;
        font-style: normal;
        margin-left: 8px;
        font-size: 0.8em;
        color: var(--brand-yellow);
      }
    }
  }
}

#top-navigation .main-menu a {
  display: block;
  padding: 8px 20px 5px 20px;
  text-decoration: none;
  transition: background-color 0.3s;
  font-size: 1rem;
  white-space: nowrap;
}

#top-navigation .main-menu li > a {
  border-bottom: 3px solid transparent;
}

#top-navigation .main-menu li:hover > a {
  border-bottom: 3px solid var(--brand-yellow);
}

#top-navigation .submenu {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 200px;
  display: none;
}

#top-navigation .submenu li {
  width: 100%;
  background-color: var(--brand-gray);
}

#top-navigation .submenu a {
  padding: 8px 20px 5px 16px;
  color: black;
  background-color: var(--brand-gray);
}

#top-navigation .main-menu li:hover > .submenu {
  display: block;
}

/* For the 3rd level menu */
#top-navigation .submenu .submenu {
  top: 0;
  left: 100%;
}

#top-navigation .submenu .submenu a {
  border-left: 1px solid white;
}

#top-navigation .submenu li:hover > a {
  background-color: white;
}

/* mobile navigation */
/* ================================================================= */
.mm-panels {
  --colour-links: var(--system-black);

  .mm-panel {
    background-color: white;
  }

  a {
    font-size: 1rem;
  }

  .mm-btn:after,
  .mm-btn:before {
    border-color: var(--brand-yellow) !important;
  }

  .active {
    a {
      font-weight: bold;
    }
  }

  // Hides the "MENU" part
  > div {
    &:first-child {
      .mm-navbar_sticky {
        display: none;
      }
    }
  }

  // Hides second part of slide out subnav
  // Using opacity:0 so it remains interactive
  .mm-navbar_sticky {
    > a {
      &:last-child {
        opacity: 0;
      }
    }
  }
}
