#top-navigation .main-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: white;
  display: flex;
  justify-content: start;
}

#top-navigation .main-menu li {
  position: relative;
}

#top-navigation .main-menu a {
  display: block;
  padding: 8px 20px 5px 20px;
  text-decoration: none;
  transition: background-color 0.3s;
  font-size: 1rem;
  white-space: nowrap;
}

#top-navigation .main-menu li:hover > a {
  background-color: white;
}

#top-navigation .main-menu > li > a {
  border-bottom: 3px solid transparent;
}

#top-navigation .main-menu > li:hover > a {
  border-bottom: 3px solid var(--brand-yellow);
}

#top-navigation .main-menu > li > ul > li > a {
    border-right: 4px solid white;
}

#top-navigation .submenu {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 200px;
  display: none;
}

#top-navigation .submenu li {
  width: 100%;
  padding-top: 4px;;
}

#top-navigation .submenu a {
  padding: 8px 20px 5px 16px;
  color: black;
    border-left: 4px solid var(--brand-gray);
    
  background-color: var(--brand-gray);
}

#top-navigation .main-menu li:hover > .submenu {
  display: block;
}

/* For the 3rd level menu */
#top-navigation .submenu .submenu {
  top: 0;
  left: 100%;
}

#top-navigation .submenu li:hover > a {
    background-color: white;
    border-left: 4px solid var(--brand-yellow);
}



/* mobile navigation */

/* SlideOut Menu */
/* ================================================================= */
.mm-panels {
  --colour-links: var(--system-black);

  .mm-panel {
    background-color: white;
  }

  a {
    font-size: 1rem;
    color: var(--brand-red) !important;
  }

  .mm-btn:after, .mm-btn:before {
    border-color: var(--brand-yellow) !important;
  }

  .active {
    a {
    font-weight: bold;
      color: var(--brand-red) !important;
    }
  }

  // Hides the "MENU" part
  > div {
    &:first-child {
      .mm-navbar_sticky {
        display: none;
      }
    }
  }

  // Hides second part of slide out subnav
  // Using opacity:0 so it remains interactive
  .mm-navbar_sticky {
    > a {
      &:last-child {
        opacity: 0;
      }
    }
  }
}