#top-drawer {
  position: fixed;
  top: -5px;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
  border-bottom: 2px solid white;

  &:has(.mega-nav.active) {
    border-color: var(--brand-red);

    .has-mega-nav > a {
      border-color: var(--brand-yellow);
    }
  }
}

#top-navigation {
  margin-top: -160px;

  &.opened {
    margin-top: 0;
  }

  &.scrolled {
    margin-top: -105px;
  }

  .has-mega-nav {
    ul {
      display: none;
    }
  }
}

#top-navigation .main-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: white;
  display: flex;
  justify-content: start;
}

#top-navigation .main-menu > li {
  &:has(ul) {
    > a {
      &:after {
        content: "\f0d7";
        font-family: FontAwesome;
        font-weight: normal;
        font-style: normal;
        margin-left: 8px;
        font-size: 0.8em;
        color: var(--brand-yellow);
      }
    }
  }
}

#top-navigation .main-menu a {
  display: block;
  padding: 8px 20px 5px 20px;
  text-decoration: none;
  transition: background-color 0.3s;
  font-size: 1rem;
  white-space: nowrap;
}

#top-navigation .main-menu li > a {
  border-bottom: 3px solid transparent;
}

.mega-nav {
  height: 0;
  background-color: white;
  transition: height 0.3s;
  position: relative;
  overflow: hidden;

  &.active {
    height: var(--dropdown-height);
  }

  .mega-nav-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--dropdown-height);
    padding-top: 1rem;
    display: flex;
    gap: 4px;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 290px;
  }

  .product-models {
    ul {
      display: none;

      &.active {
        display: flex;
      }
    }
  }

  .product-image {
    margin-left: auto;
  }

  .image-wrapper {
    aspect-ratio: 1.35 / 1;
    background-image: url(../images/slide-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 420px;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      width: 70%;
      height: auto;
      display: block;
      margin: 0 auto;
      max-height: 70%;

      &:hover {
        img {
          transform: scale(1.03);
        }
      }
    }

    img {
      width: 100%;
      transition: all 0.3s ease-in-out;
    }
  }

  .product-specifications {
    border-top: 1px solid var(--brand-gray);
    margin-top: 1rem;
    padding-top: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  li {
    a {
      padding: 14px 16px 10px 12px;
      font-size: 0.9rem;
      background-color: var(--brand-gray);
      display: block;
      line-height: 1;
      border-left: 4px solid transparent;
      transition: background-color 0.3s;
    }

    &:hover > a,
    &.active > a {
      background-color: white;
      border-color: var(--brand-yellow);
    }
  }

  .placeholder {
    opacity: 0;
    pointer-events: none;
  }

  &:has(.active) {
    .placeholder {
      opacity: 1;
      pointer-events: auto;
    }
  }
}

#top-navigation .main-menu li:hover > a,
#top-navigation .main-menu li.active > a {
  border-bottom: 3px solid var(--brand-yellow);
}

#floating-nav {
  position: fixed;
  top: 400px;
  right: 0;
  z-index: 1000;

  @media (max-width: 768px) {
    display: none;
  }
}

/* mobile navigation */
/* ================================================================= */
.mm-panels {
  --colour-links: var(--system-black);

  .mm-panel {
    background-color: white;
  }

  a {
    font-size: 1rem;
  }

  .mm-btn:after,
  .mm-btn:before {
    border-color: var(--brand-yellow) !important;
  }

  .active {
    a {
      font-weight: bold;
    }
  }

  // Hides the "MENU" part
  > div {
    &:first-child {
      .mm-navbar_sticky {
        display: none;
      }
    }
  }

  // Hides second part of slide out subnav
  // Using opacity:0 so it remains interactive
  .mm-navbar_sticky {
    > a {
      &:last-child {
        opacity: 0;
      }
    }
  }
}
