.parts-filters-wrapper {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .reload-filter {
    padding: 4rem;
    text-align: center;
    display: none;
  }

  .carousel-controls {
    margin-top: 0;
  }

  .slide {
    padding: 0 15px;
    padding-bottom: 15px;
    border-right: 1px solid var(--brand-gray);
    display: none;

    h3 {
      background-color: var(--brand-gray);
      color: white;
      line-height: 1;
      padding: 8px 10px 6px 10px;
    }

    ol {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;

      a {
        background-color: var(--brand-gray);
        border-left: 6px solid transparent;
        padding: 12px 10px 8px;
        text-decoration: none;
        width: 100%;
        display: block;
        transition: all 0.3s ease-in-out;
        line-height: 1;

        @media (hover: hover) {
          &:hover {
            background-color: white;
            border-color: var(--brand-yellow);
          }
        }
      }

      li {
        &.selected {
          a {
            background-color: white;
            border-color: var(--brand-yellow);
          }
        }
      }
    }

    &.selected {
      display: block;

      h3 {
        background-color: var(--brand-red-dark);
      }
    }
  }

  .parts-filters {
    margin: 0 -15px;
    overflow: hidden;
    box-sizing: border-box;
  }

  .display-none {
    display: none;
  }

  label {
    gap: 0.5rem;
    display: flex;
    align-items: start;
    margin-bottom: 10px;
    flex-direction: column;
  }

  &.initialized {
    .slide {
      display: block;
      min-height: 448px;
    }

    @media (max-width: 1200px) {
      .reload-filter {
        display: block;
      }
      .results,
      .carousel-controls,
      .parts-filters {
        display: none;
      }
    }
  }

  @media screen and (min-width: 768px) {
    .results {
      margin-top: 2rem;
    }
  }
}

#processing {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  font-size: 1.5rem;
  color: var(--brand-red);
  display: none;

  .wrapper {
    position: relative;
    top: 25%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(-50%, -50%);
    gap: 0.375rem;
    padding: 1rem 2rem;
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.9);

    p {
      color: var(--brand-text);
      font-size: 0.9rem;
    }

    i {
      font-size: 3rem;
      animation: spin 3s linear infinite;
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
