.parts-filters-wrapper {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .reload-filter {
    padding: 4rem;
    text-align: center;
    display: none;
  }

  .carousel-controls {
    margin-top: 0;
  }

  .slide {
    padding: 0 15px;
    padding-bottom: 15px;
    border-right: 1px solid var(--brand-gray);
    display: none;

    h3 {
      background-color: var(--brand-gray);
      color: white;
      line-height: 1;
      padding: 8px 10px 4px 10px;
      border-bottom: 1px solid var(--brand-gray);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    ol {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;

      a {
        background-color: var(--brand-gray);
        border-left: 6px solid transparent;
        padding: 12px 10px 8px;
        text-decoration: none;
        width: 100%;
        display: block;
        transition: all 0.3s ease-in-out;
        line-height: 1;

        @media (hover: hover) {
          &:hover {
            background-color: white;
            border-color: var(--brand-yellow);
          }
        }
      }

      li {
        &.selected {
          a {
            background-color: white;
            border-color: var(--brand-yellow);
          }
        }
      }
    }

    &.selected {
      display: block;

      h3 {
        color: var(--brand-text);
        background-color: white;
        border-color: var(--brand-gray-dark);
      }
    }
  }

  .parts-filters {
    margin: 0 -15px;
    overflow: hidden;
    box-sizing: border-box;
  }

  label {
    gap: 0.5rem;
    display: flex;
    align-items: start;
    margin-bottom: 10px;
    flex-direction: column;
  }

  .filter-inputs {
    .title {
      margin-bottom: 0.375rem;
    }

    .fields {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      max-width: 380px;
      padding: 5px 60px 0 0;
    }

    .select-inputs,
    .text-inputs {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      label {
        margin: 0;
      }
    }
  }

  &.initialized {
    .slide {
      display: block;
      min-height: 448px;
    }

    .filter-inputs {
      background-image: url("../images/bg-big-arrow.png");
      background-repeat: no-repeat;
      background-position: right 20px top 20px;
      background-size: 100px;
      transition: background-position 0.3s ease-in-out;
    }

    @media (max-width: 1200px) {
      .reload-filter {
        display: block;
      }
      .results,
      .carousel-controls,
      .parts-filters {
        display: none;
      }
    }
  }

  @media screen and (min-width: 768px) {
    .results {
      margin-top: 2rem;
    }
  }
}

#processing {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  font-size: 1.5rem;
  color: var(--brand-red);
  display: none;

  .wrapper {
    position: relative;
    top: 25%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(-50%, -50%);
    gap: 0.375rem;
    padding: 1rem 2rem;
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.9);

    p {
      color: var(--brand-text);
      font-size: 0.9rem;
    }

    i {
      font-size: 3rem;
      animation: spin 3s linear infinite;
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}

.price-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 0.25rem;
  gap: 0.25rem;
  line-height: 1;

  .lbl {
    font-size: 0.9rem;
  }

  .val {
    font-size: 2rem;
  }
}

#results {
  .results-title {
    border-bottom: 1px solid var(--brand-gray-dark);
  }

  > form {
    ol {
      > li {
        border-bottom: 1px solid var(--brand-gray);
        padding-bottom: 1rem;
        margin-bottom: 2rem;

        &:last-child {
          border-bottom: none;
          padding-bottom: 0;
          margin-bottom: 0;
        }
      }
    }
  }

  .spare-thumbnail {
    overflow: hidden;
    border-radius: 2px;
    display: block;
    max-width: 360px;
    flex-shrink: 0;

    img {
      width: 100%;
      height: auto;
      aspect-ratio: 5 / 4;
    }
  }

  .results-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    > li {
      padding-bottom: 2rem;
      border-bottom: 1px solid var(--brand-gray);

      &:last-child {
        padding-bottom: 0;
        border-bottom: none;
      }
    }
  }

  .result {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .lbl,
    .val {
      display: block;
    }

    .val {
      font-size: 1.2rem;
    }

    .header {
      margin-bottom: 0.25rem;
    }

    .details {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .title {
        padding: 6px 8px;
        background-color: var(--brand-gray);
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        gap: 4px;
        margin: 0;
      }
    }

    .machines-list {
      display: flex;
      flex-wrap: wrap;
      gap: 6px;

      a,
      span {
        text-decoration: none;
        font-size: 0.9rem;
        background-color: var(--brand-gray);
        padding: 8px 10px 6px 10px;
        line-height: 1;
        display: inline-block;
        border-radius: 4px;
      }

      a {
        color: var(--brand-red);
        transition: all 0.3s ease-in-out;

        @media (hover: hover) {
          &:hover {
            background-color: var(--brand-red);
            color: white;
          }
        }
      }

      span {
        cursor: default;
        color: var(--brand-text);
      }
    }

    .categories-list {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      li {
        &::after {
          content: "/";
          margin-left: 0.5em;
          margin-right: 0.5em;
          color: var(--brand-yellow);
        }

        &:last-child::after {
          content: none;
        }
      }
    }

    .related-list {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      > li {
        border-bottom: 1px solid var(--brand-gray);
        padding-bottom: 1rem;

        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        align-items: flex-start;

        > * {
          margin: 0;
        }

        &:last-child {
          border-bottom: none;
          padding-bottom: 0;
        }
      }
    }

    .pricing {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      line-height: 1.2;
      text-align: right;
      min-width: 200px;

      .lbl {
        font-size: 0.9rem;
      }

      .val {
        font-size: 1.2rem;
      }

      .price {
        font-size: 2rem;
      }

      .add-to-basket {
        display: flex;
        gap: 0.5rem;
        margin-left: auto;

        > div {
          margin: 0;
        }
      }
    }
  }

  @media (min-width: $breakpoint3) {
    .spare-thumbnail {
      width: 240px;

      img {
        @media (hover: hover) {
          transition: all 0.3s ease-in-out;

          &:hover {
            transform: scale(1.03);
          }
        }
      }
    }

    .result {
      align-items: flex-start;
      flex-direction: row;

      .pricing {
        border-left: 1px solid var(--brand-gray);
        padding-left: 1rem;
      }
    }
  }
}
