.mobile-buttons {
  display: none;
}

.desktop-buttons {
  display: block;
}

@media (max-width: 1200px) {
  .mobile-buttons {
    display: block;
    transform: scale(1.2);
    margin-left: 10px;
    margin-top: 5px;
  }

  .desktop-buttons {
    display: none;
  }
}

.mobile-only {
  display: none !important;
}

.desktop-only {
  display: block;
}

@media (max-width: 768px) {
  .mobile-only {
    display: block !important;
  }

  .desktop-only {
    display: none !important;
  }
}

.preload {
  display: none;
}

.small-print {
  * {
    font-size: 0.95rem;
  }
}

.pre-script {
  display: none !important;
}

.imagery {
  width: 100%;
  display: block;
}

.section {
  padding: 0 1rem;
  margin: 0 auto;
  max-width: var(--max-width);
  margin-bottom: 48px;

  @media (max-width: 768px) {
    margin-bottom: 30px;
  }

  &.has-overlap {
    margin-bottom: 60px;
  }
}

.subsection-title {
  font-size: var(--font-subtitle);
  font-weight: 600;

  @media (max-width: 768px) {
    font-size: 20px;
  }
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  margin-bottom: 2rem;
  overflow: hidden;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}

.column-two {
  padding-bottom: 2rem;

  @media (min-width: $breakpoint3) {
    columns: 2;
    column-gap: 4rem;
  }
}

.column-three {
  padding-bottom: 2rem;

  @media (min-width: $breakpoint2) {
    columns: 2;
    column-gap: 3rem;
  }

  @media (min-width: $breakpoint3) {
    columns: 3;
    column-gap: 3rem;
  }
}

.external-link {
  padding-bottom: 1rem;

  @media (min-width: $breakpoint2) {
    padding-bottom: 2rem;
  }
}

.bttn {
  padding: 12px 16px 10px;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  border: 1px solid transparent;
  border: 1px solid var(--brand-red-dark);
  transition: all 0.3s ease-in-out;
  display: inline-flex;
  gap: 12px;
  align-items: center;

  background-color: var(--brand-red-dark);
  color: white;

  i {
    color: var(--brand-yellow);
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--brand-red);
    }
  }

  &.small {
    font-size: 0.8rem;
  }

  &.bordered-bttn {
    border: 1px solid white;
  }
}

/* ================================================================= */
/* .back-to-top */
.back-to-top {
  display: inline-block;
  width: 44px;
  height: 44px;
  text-align: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;

  @media (max-width: $breakpoint3) {
    display: none;
  }

  &:after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 1.6em;
    line-height: 44px;
  }

  @media (hover: hover) {
    &:hover {
      cursor: pointer;
      text-decoration: none;
      color: black;
      opacity: 1;
    }
  }

  &.show {
    opacity: 1;
    visibility: visible;
  }

  @media (min-width: $breakpoint3) {
    width: 50px;
    height: 50px;

    &:after {
      font-size: 2em;
      line-height: 50px;
    }
  }
}

/* ================================================================= */
/* ================================================================= */
.spacer {
  // background-color: pink;
  height: var(--height);
}
// usage
// <div class="spacer" style="--height: 400px;"></div>
