.mobile-buttons {
  display: none;
}

.desktop-buttons {
  display: block;
}

@media (max-width: 1200px) {
  .mobile-buttons {
    display: block;
    transform: scale(1.2);
    margin-left: 10px;
    margin-top: 5px;
  }

  .desktop-buttons {
    display: none;
  }
}

.mobile-only {
  display: none !important;
}

.body-copy {
  a {
    text-decoration: underline;

    @media (hover: hover) {
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.desktop-only {
  display: block;
}

.display-none {
  display: none;
}

@media (max-width: 768px) {
  .mobile-only {
    display: block !important;
  }

  .desktop-only {
    display: none !important;
  }
}

.preload {
  display: none;
}

.small-print {
  * {
    font-size: 0.95rem;
  }
}

.pre-script {
  opacity: 0;
}

.imagery {
  width: 100%;
  display: block;
}

.app-loading {
  opacity: 0;
}

.tab-item-app {
  display: none;
  @media screen and (min-width: 1200px) {
    display: block;
  }
}

.section-title {
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
  padding: 0 16px;
  width: 100%;
}

.page-intro {
  margin-bottom: 1rem;

  @media screen and (min-width: 768px) {
    margin-bottom: 2rem;
  }
}

.departments-title {
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--brand-gray);

  @media screen and (min-width: 768px) {
    margin-bottom: 2rem;
  }
}

.shaded-section {
  background-color: var(--brand-gray-light);
  padding: 2rem 0;
  margin-bottom: 1rem;

  .section {
    margin-bottom: 0;
  }

  @media screen and (min-width: 992px) {
    margin-bottom: 3rem;
  }
}

.special-background {
  background-color: var(--brand-red);
  background-image: url("../images/bg-about-busy.jpg");
  color: white;
  padding-top: 30px;

  .section {
    display: flex;
    flex-direction: column;
  }

  .text-wrapper,
  .image-wrapper {
    flex: 1;
  }

  .image-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 60px;

    .section {
      flex-direction: row;
      gap: 2rem;
    }

    .text-wrapper {
      max-width: 50%;
    }

    .image-wrapper {
      justify-content: center;
      align-items: center;

      img {
        max-width: 50%;
      }

      .top-image {
        margin-left: 10%;
      }

      .bottom-image {
        margin-right: 10%;
      }
    }
  }
}

.special-background-2 {
  padding-top: 2rem;

  .section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  @media screen and (min-width: 768px) {
    padding-top: 3rem;

    .section {
      flex-direction: row-reverse;
      gap: 2rem;
    }

    .text-wrapper,
    .image-wrapper {
      flex: 1;
    }

    img {
      margin-top: 3rem;
      max-width: 480px;
      margin-right: auto;
    }
  }
}

.special-background-3 {
  background-color: var(--brand-gray-light);
  padding-top: 2rem;
  background-image: url("../images/fabric.png");

  @media screen and (min-width: 768px) {
    padding-top: 3rem;

    .section {
      background-image: url("../images/logo-slanted.png");
      background-repeat: no-repeat;
      background-position: bottom -50px right 5px;
      background-size: 600px auto;
      margin-bottom: 0;
      min-height: 500px;
    }

    .text-wrapper {
      width: 50%;
    }
  }
}

.special-background-4 {
  padding-top: 2rem;

  .section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  @media screen and (min-width: 768px) {
    padding-top: 3rem;
    min-height: 600px;
    background: linear-gradient(250deg, #ffffff 50%, var(--brand-red) 50%);
    padding-top: 3rem;
    position: relative;

    img {
      width: 900px;
      height: auto;
      position: absolute;
      top: 50%;
      right: 40%;
      transform: translateY(-50%);
    }

    .section {
      flex-direction: row;
      gap: 20rem;
    }

    .text-wrapper,
    .image-wrapper {
      width: 50%;
    }

    .image-wrapper {
      display: block;
    }
  }
}

.section {
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto 30px auto;
  max-width: var(--max-width);
  position: relative;
  width: 100%;

  &.shaded-copy {
    background-color: var(--brand-gray-light);
  }

  .padded-copy {
    @media screen and (min-width: 992px) {
      padding-right: 20%;
    }
  }

  &.has-sub-sections {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 60px;

    .sub-section-wrapper {
      width: 100%;
    }

    .content {
      min-height: 300px;
      position: relative;
      border: 1px solid var(--brand-gray);
      padding: 12px 1rem;
      border-radius: 4px;

      .text-wrapper {
        z-index: 11;
        position: relative;
      }

      .content-img {
        position: absolute;
        bottom: -12px;
        right: 0;
        z-index: 10;
        max-width: 80%;
      }
    }
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 60px;

    &.special-chevron {
      background-image: url("../images/bg-about-chevrons.png");
      background-repeat: no-repeat;
      background-position: bottom -40px right 50px;
      background-size: 300px 300px;
      margin-bottom: 0;
      padding-bottom: 2rem;
      padding-right: 500px;
    }

    &.has-sub-sections {
      flex-direction: row;

      .content {
        padding: 1rem 1.2rem;

        .text-wrapper {
          width: 80%;
        }

        .content-img {
          bottom: -1rem;
          max-width: 60%;
        }
      }
    }
  }
}

.section-padding {
  padding-top: 2rem;
  padding-bottom: 2rem;

  @media screen and (min-width: 768px) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.breadcrumbs {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  margin: 0 auto;
  max-width: var(--max-width);
  width: 100%;

  ol {
    border-top: 1px solid var(--brand-gray);
    display: flex;
    font-size: 0.9rem;

    li {
      display: flex;
      align-items: center;

      &::after {
        content: "/";
        margin-left: 0.5em;
        margin-right: 0.5em;
        color: var(--brand-yellow);
      }

      &:last-child::after {
        content: none;
      }

      &:last-child {
        font-weight: bold;
      }
    }

    a {
      padding: 0.45rem 0;
      display: inline-block;

      @media (hover: hover) {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.columned-content {
  margin-bottom: 1rem;

  @media screen and (min-width: 768px) {
    columns: 2;
    column-gap: 4rem;
    margin-bottom: 2rem;
  }
}

.introduction-wrapper,
.title-wrapper,
.page-intro {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 2px 1rem 1rem 1rem;
  width: 100%;
}

.introduction {
  border-bottom: 2px solid var(--brand-red);
  padding-bottom: 0.5rem;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  overflow: hidden;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}

.column-two {
  padding-bottom: 2rem;

  @media (min-width: $breakpoint3) {
    columns: 2;
    column-gap: 4rem;
  }
}

.column-three {
  padding-bottom: 2rem;

  @media (min-width: $breakpoint2) {
    columns: 2;
    column-gap: 3rem;
  }

  @media (min-width: $breakpoint3) {
    columns: 3;
    column-gap: 3rem;
  }
}

.external-link {
  padding-bottom: 1rem;

  @media (min-width: $breakpoint2) {
    padding-bottom: 2rem;
  }
}

.bttn {
  padding: 12px 16px 8px;
  font-size: 1rem;
  border-radius: 2px;
  cursor: pointer;
  line-height: 1;
  white-space: nowrap;
  text-decoration: none !important;
  text-align: center;
  border: 1px solid var(--brand-red);
  transition: all 0.3s ease-in-out;
  display: inline-flex;
  gap: 6px;
  align-items: center;

  background-color: var(--brand-red);
  color: white;

  @media (hover: hover) {
    &:hover {
      background-color: var(--brand-red-dark);
      border-color: var(--brand-red-dark);
    }
  }

  &.small {
    font-size: 0.8rem;
  }

  &.bordered-bttn {
    border: 1px solid #d68188;
  }

  &.transparent-bttn {
    background-color: transparent;
    color: white;
    text-shadow: 0 0 3px #000;
    border: 1px solid rgb(201, 201, 201);

    @media (hover: hover) {
      &:hover {
        background-color: white;
        color: var(--brand-red-dark);
        text-shadow: none;
      }
    }
  }

  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
  }

  span {
    &:last-child {
      color: var(--brand-yellow);
    }
  }

  > span {
    &:first-child {
      &:has(i) {
        margin-right: 4px;
      }
    }
  }
}

.image-link {
  display: block;
  overflow: hidden;
  border-radius: 2px;

  img {
    display: block;
    max-width: 100%;
    height: auto;
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    @media (hover: hover) {
      img {
        transform: scale(1.03);
      }
    }
  }
}

.item-pod {
  border: 1px solid var(--brand-gray);
  border-radius: 2px;
  display: flex;
  flex-direction: column;

  .title {
    background-color: var(--brand-gray);
    padding: 0.5rem;
    margin: 0;
    font-size: 1rem;
    height: 3.25rem;
    line-height: 1.3;
    flex-shrink: 0;
  }

  .details {
    padding: 10px 12px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-grow: 1;

    .image-copy-wrapper {
      display: flex;
      flex-direction: row;
      gap: 1rem;
    }

    .image-wrapper {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    img {
      width: 120px;
      height: auto;
      aspect-ratio: 5 / 4;
      min-width: 120px;
    }

    .copy-wrapper {
      font-size: 0.9rem;
    }

    .price {
      font-weight: bold;
    }

    .action {
      margin-top: auto;
    }
  }

  .action {
    border-top: 1px solid var(--brand-gray);
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }
}

.items-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);

    .item-pod {
      height: 460px;

      .copy-wrapper {
        height: 250px;
        overflow-y: scroll;
      }
    }
  }

  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* ================================================================= */
/* .back-to-top */
.back-to-top {
  display: inline-block;
  width: 44px;
  height: 44px;
  text-align: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;

  @media (max-width: $breakpoint3) {
    display: none;
  }

  &:after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 1.6em;
    line-height: 44px;
  }

  @media (hover: hover) {
    &:hover {
      cursor: pointer;
      text-decoration: none;
      color: black;
      opacity: 1;
    }
  }

  &.show {
    opacity: 1;
    visibility: visible;
  }

  @media (min-width: $breakpoint3) {
    width: 50px;
    height: 50px;

    &:after {
      font-size: 2em;
      line-height: 50px;
    }
  }
}

.dotted-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 8px;

  li {
    position: relative;
    padding-left: 20px;

    &::before {
      content: "\2022";
      position: absolute;
      left: 0;
      top: 0;
      color: #000;
      font-size: 1.5em;
      line-height: 1;
    }
  }
}

.btn_download {
  &::after {
    content: "\f019";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    margin-left: 8px;
    font-size: 0.8em;
    color: var(--brand-yellow);
  }
}

.lcl_icon {
  background-color: var(--brand-red-dark) !important;
}

.lc_lightbox_link_text {
  position: relative;

  &::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    margin-left: 8px;
    font-size: 0.9rem;
    color: var(--brand-red);
    position: absolute;
    right: -1.2rem;
    top: 50%;
    transform: translateY(-50%);
  }
}

.parts-categories-list {
  padding-top: 1rem;

  a {
    background-color: var(--brand-gray-light);
    text-decoration: none;
    display: block;
    line-height: 1;
    padding: 12px 12px 10px;
    border-left: 4px solid transparent;
    transition: all 0.3s ease-in-out;

    &.selected {
      border-color: var(--brand-yellow);
      background-color: white;
      cursor: default;
    }

    &:hover {
      @media (hover: hover) {
        background-color: white;
        border-color: var(--brand-yellow);
      }
    }
  }
}

.page-divider {
  height: 1rem;

  @media (min-width: $breakpoint2) {
    height: 2rem;
  }
}

.underlined {
  border-bottom: 1px solid var(--brand-gray-dark);
  padding-bottom: 0.5rem;
}

.action-step {
  color: var(--brand-gray-dark);
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 4px;
}

.quick-nav-top {
  ul {
    display: inline-flex;
    list-style: none;
  }

  a {
    i {
      color: var(--brand-yellow);
    }
  }

  .selected {
    i {
      color: var(--brand-red);
    }
  }
}

.quick-nav-float {
  ul {
    display: flex;
    flex-direction: column;
    text-align: right;
    gap: 1px;
    list-style: none;
  }

  a {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    min-width: 44px;
  }

  .expanding-link {
    background-color: var(--brand-red-dark);
    color: white;
  }

  .selected {
    background-color: var(--brand-red);

    i {
      color: var(--brand-yellow);
    }
  }
}

.expanding-link {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  padding: 8px 10px;
  transition: all 0.3s ease-in-out;
  white-space: nowrap;

  i {
    font-size: 1.2rem;
    margin-right: 0;
    transition: margin 0.3s ease;
  }

  span {
    max-width: 0;
    opacity: 0;
    overflow: hidden;
    display: inline-block;
    transition:
      max-width 0.4s ease,
      opacity 0.3s ease,
      margin 0.3s ease;
  }

  @media (hover: hover) {
    &:hover {
      i {
        margin-right: 10px;
      }

      span {
        max-width: 150px;
        opacity: 1;
      }
    }
  }
}

#page {
  &:has(.floating-basket) {
    .quick-nav-float {
      .basket-link {
        display: none;
      }
    }
  }
}

#processing {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  font-size: 1.5rem;
  color: var(--brand-red);
  display: none;

  .wrapper {
    position: relative;
    top: 25%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(-50%, -50%);
    gap: 0.375rem;
    padding: 1rem 2rem;
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.9);

    p {
      color: var(--brand-text);
      font-size: 0.9rem;
    }

    i {
      font-size: 3rem;
      animation: spin 3s linear infinite;
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}

/* ================================================================= */
/* ================================================================= */
.spacer {
  background-color: rgb(43, 238, 8);
  height: var(--height);
}
// usage
// <div class="spacer" style="--height: 400px;"></div>
