.mobile-buttons {
  display: none;
}

.desktop-buttons {
  display: block;
}

@media (max-width: 1200px) {
  .mobile-buttons {
    display: block;
    transform: scale(1.2);
    margin-left: 10px;
    margin-top: 5px;
  }

  .desktop-buttons {
    display: none;
  }
}

.mobile-only {
  display: none !important;
}

.body-copy {
  a {
    text-decoration: underline;

    @media (hover: hover) {
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.desktop-only {
  display: block;
}

@media (max-width: 768px) {
  .mobile-only {
    display: block !important;
  }

  .desktop-only {
    display: none !important;
  }
}

.preload {
  display: none;
}

.small-print {
  * {
    font-size: 0.95rem;
  }
}

.pre-script {
  display: none !important;
}

.imagery {
  width: 100%;
  display: block;
}

.app-loading {
  opacity: 0;
}

.tab-item-app {
  display: none;
  @media screen and (min-width: 1200px) {
    display: block;
  }
}

.section-title {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 16px;
  width: 100%;
}

.shaded-section {
  background-color: var(--brand-gray-light);
  padding: 2rem 0;
  margin-bottom: 1rem;

  .section {
    margin-bottom: 0;
  }

  @media screen and (min-width: 992px) {
    margin-bottom: 3rem;
  }
}

.page-intro {
  margin-bottom: 1rem;

  @media screen and (min-width: 768px) {
    margin-bottom: 2rem;
  }
}

.section {
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto 50px auto;
  max-width: var(--max-width);
  margin-bottom: 60px;
  position: relative;
  width: 100%;

  &.shaded-copy {
    background-color: var(--brand-gray-light);
  }

  .padded-copy {
    @media screen and (min-width: 992px) {
      padding-right: 20%;
    }
  }

  &.has-sub-sections {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .sub-section-wrapper {
      width: 100%;
    }

    .content {
      min-height: 300px;
      position: relative;
      border: 1px solid var(--brand-gray);
      padding: 12px 1rem;
      border-radius: 4px;

      .text-wrapper {
        z-index: 11;
        position: relative;
      }

      .content-img {
        position: absolute;
        bottom: -12px;
        right: 0;
        z-index: 10;
        max-width: 90%;
      }
    }

    @media screen and (min-width: 768px) {
      flex-direction: row;

      .content {
        padding: 1rem 1.2rem;

        .text-wrapper {
          width: 80%;
        }

        .content-img {
          bottom: -1rem;
          max-width: 70%;
        }
      }
    }
  }
}

.breadcrumbs {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  margin: 0 auto;
  max-width: var(--max-width);
  width: 100%;

  ol {
    border-top: 1px solid var(--brand-gray);
    display: flex;
    font-size: 0.9rem;

    li {
      display: flex;
      align-items: center;

      &::after {
        content: "/";
        margin-left: 0.5em;
        margin-right: 0.5em;
        color: var(--brand-yellow);
      }

      &:last-child::after {
        content: none;
      }

      &:last-child {
        font-weight: bold;
      }
    }

    a {
      padding: 0.45rem 0;
      display: inline-block;

      @media (hover: hover) {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.columned-content {
  margin-bottom: 1rem;

  @media screen and (min-width: 768px) {
    columns: 2;
    column-gap: 4rem;
    margin-bottom: 2rem;
  }
}

.title-wrapper {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 2px 1rem 0 1rem;
  width: 100%;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  margin-bottom: 2rem;
  overflow: hidden;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}

.column-two {
  padding-bottom: 2rem;

  @media (min-width: $breakpoint3) {
    columns: 2;
    column-gap: 4rem;
  }
}

.column-three {
  padding-bottom: 2rem;

  @media (min-width: $breakpoint2) {
    columns: 2;
    column-gap: 3rem;
  }

  @media (min-width: $breakpoint3) {
    columns: 3;
    column-gap: 3rem;
  }
}

.external-link {
  padding-bottom: 1rem;

  @media (min-width: $breakpoint2) {
    padding-bottom: 2rem;
  }
}

.bttn {
  padding: 12px 16px 10px;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  line-height: 1;
  white-space: nowrap;
  text-decoration: none !important;
  text-align: center;
  border: 1px solid var(--brand-red);
  transition: all 0.3s ease-in-out;
  display: inline-flex;
  gap: 6px;
  align-items: center;

  background-color: var(--brand-red);
  color: white;

  @media (hover: hover) {
    &:hover {
      background-color: var(--brand-red-dark);
      border-color: var(--brand-red-dark);
    }
  }

  &.small {
    font-size: 0.8rem;
  }

  &.bordered-bttn {
    border: 1px solid #d68188;
  }

  &.transparent-bttn {
    background-color: transparent;
    color: white;
    text-shadow: 0 0 3px #000;
    border: 1px solid rgb(201, 201, 201);

    @media (hover: hover) {
      &:hover {
        background-color: white;
        color: var(--brand-red-dark);
        text-shadow: none;
      }
    }
  }

  span {
    &:last-child {
      color: var(--brand-yellow);
    }
  }

  > span {
    &:first-child {
      &:has(i) {
        margin-right: 4px;
      }
    }
  }
}

.image-link {
  display: block;
  overflow: hidden;
  border-radius: 2px;

  img {
    display: block;
    max-width: 100%;
    height: auto;
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    @media (hover: hover) {
      img {
        transform: scale(1.03);
      }
    }
  }
}

.item-pod {
  border: 1px solid var(--brand-gray);
  border-radius: 2px;
  display: flex;
  flex-direction: column;

  .title {
    background-color: var(--brand-gray);
    padding: 0.5rem;
    margin: 0;
    font-size: 1rem;
    height: 3.25rem;
    line-height: 1.3;
  }

  .details {
    padding: 10px 12px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-grow: 1;

    .image-copy-wrapper {
      display: flex;
      flex-direction: row;
      gap: 1rem;
    }

    .image-wrapper {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    img {
      width: 150px;
      height: auto;
      aspect-ratio: 5 / 4;
      min-width: 150px;
    }

    .copy-wrapper {
      font-size: 0.9rem;
    }

    .price {
      font-weight: bold;
    }

    .action {
      margin-top: auto;
    }
  }
}

.items-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);

    .item-pod {
      min-height: 400px;

      .copy-wrapper {
        max-height: 260px;
        overflow-y: scroll;
      }
    }
  }

  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* ================================================================= */
/* .back-to-top */
.back-to-top {
  display: inline-block;
  width: 44px;
  height: 44px;
  text-align: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;

  @media (max-width: $breakpoint3) {
    display: none;
  }

  &:after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 1.6em;
    line-height: 44px;
  }

  @media (hover: hover) {
    &:hover {
      cursor: pointer;
      text-decoration: none;
      color: black;
      opacity: 1;
    }
  }

  &.show {
    opacity: 1;
    visibility: visible;
  }

  @media (min-width: $breakpoint3) {
    width: 50px;
    height: 50px;

    &:after {
      font-size: 2em;
      line-height: 50px;
    }
  }
}

.dotted-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 8px;

  li {
    position: relative;
    padding-left: 20px;

    &::before {
      content: "\2022";
      position: absolute;
      left: 0;
      top: 0;
      color: #000;
      font-size: 1.5em;
      line-height: 1;
    }
  }
}

.btn_download {
  &::after {
    content: "\f019";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    margin-left: 8px;
    font-size: 0.8em;
    color: var(--brand-yellow);
  }
}

/* ================================================================= */
/* ================================================================= */
.spacer {
  background-color: rgb(43, 238, 8);
  height: var(--height);
}
// usage
// <div class="spacer" style="--height: 400px;"></div>
