$breakpoint7: 1920px;
$breakpoint6: 1640px;
$breakpoint5: 1440px;
$breakpoint4: 1200px;
$breakpoint3: 992px;
$breakpoint2: 768px;
$breakpoint1: 640px;
$breakpoint0: 480px;

:root {
  // widths
  --max-width: 1190px;
  --brand-yellow: #fcaf17;
  --brand-red: #bf1e2e;
  --brand-red-dark: #a31926;
  --brand-gray: #e9ebed;
  --brand-gray-dark: #b0b3b8;
  --brand-gray-light: #f7f8f9;
  --color-black: #222222;

  --font-subtitle: 22px;

  // system colours
  --system-black: #000000;
  --system-white: #ffffff;
  --system-gray: #cccccc;
  --system-charcoal: #5f5f5f;

  // brand colours
  --brand-color-blue: #1a2b50;
  --brand-color-purple: #99aaff;
  --brand-color-purple2: #7484d7;
  --brand-color-purple3: #3b3b90;
  --brand-color-purple4: #1e1e6a;
  --brand-color-grey: #eeeeee;
  --brand-color-grey2: #eaebf1;

  // header specific styles
  --colour-slogan-highlight: var(--brand-color-purple);
  --colour-social-links: var(--brand-color-purple3);
  --colour-social-background: var(--brand-color-purple);

  // global styles
  --colour-text: var(--color-black);
  --colour-headers: var(--brand-color-blue);
  --colour-links: var(--brand-color-purple2);

  // utils
  --button-hamburger: var(--brand-color-purple3);
  --button-border-purple: var(--brand-color-purple3);
  --color-menu-chevrons: var(--brand-color-purple);
  --color-submit-button: var(--brand-color-purple2);
  --color-footer-bg: var(--brand-color-purple4);

  --color-pod-bg-1: var(--brand-color-grey2);
}
