$breakpoint7: 1920px;
$breakpoint6: 1640px;
$breakpoint5: 1440px;
$breakpoint4: 1200px;
$breakpoint3: 992px;
$breakpoint2: 768px;
$breakpoint1: 640px;
$breakpoint0: 480px;

:root {
  // widths
  --max-width: 1190px;

  // brand colours
  --brand-yellow: #fcaf17;
  --brand-red: #bf1e2e;
  --brand-red-dark: #a31926;
  --brand-gray: #e9ebed;
  --brand-gray-dark: #b0b3b8;
  --brand-gray-light: #f7f8f9;
  --brand-text: #111111;

  // dropdown height
  --dropdown-height: 500px;
  --font-subtitle: 22px;

  // system colours
  --system-black: #000000;
  --system-white: #ffffff;
  --system-gray: #cccccc;
}
