@import "variables";
@import "furniture";
@import "fonts";
@import "navigation";
@import "utils";

.hero {
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

  @media (min-width: $breakpoint1) {
    height: 700px;
  }
}

#top-navigation {
  // height: 160px;
  // margin-top: -160px;
}
