@import "variables";
@import "furniture";
@import "fonts";
@import "navigation";
@import "utils";

.slide {
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;

  @media (min-width: $breakpoint1) {
    height: 800px;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0)
    );
  }
}

#top-navigation {
  margin-top: -160px;
}

.carousel-main {
  .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 8px;

    button {
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: var(--brand-gray);
    }

    .slick-active {
      button {
        background-color: var(--brand-yellow);
      }
    }
  }
}
