@import "variables";
@import "furniture";
@import "fonts";
@import "navigation";
@import "utils";

#top-navigation {
  margin-top: -160px;

  &.opened {
    margin-top: 0;
  }

  &.scrolled {
    margin-top: -105px;
  }
}

.pod {
  display: flex;
  flex-direction: column;
  background-image: url("../images/slide-bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio: 1.35 / 1;
  width: 350px;
  margin: 0 auto;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .title {
    margin: 0;
    text-align: center;
    z-index: 10;
  }

  .image-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;

    img {
      max-width: 70%;
      height: auto;
      transition: transform 0.33s ease-in-out;
    }
  }

  @media (hover: hover) {
    &:hover {
      img {
        transform: scale(1.03);
      }

      &::after {
        opacity: 0.5;
      }
    }
  }
}

.carousel-main {
  .slide {
    height: 380px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;

    @media (min-width: $breakpoint1) {
      height: 660px;
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 30%;
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0)
      );
    }
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 1rem;

    button {
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
      width: 0.75rem;
      height: 0.75rem;
      border-radius: 50%;
      transition: all 0.3s ease-in-out;
      background-color: var(--brand-gray);
    }

    .slick-active {
      button {
        width: 1rem;
        height: 1rem;
        background-color: var(--brand-yellow);
        border-color: var(--brand-yellow);
      }
    }
  }

  .copy-wrapper {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;

    .copy-content {
      width: 100%;
      z-index: 10;
      color: white;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
    }

    .hero-title {
      margin: 0 auto;
      max-width: var(--max-width);
      font-size: 2rem;
      line-height: 1.2;
      color: white;
      text-shadow: 0 0 3px #000;
      padding: 1rem;
      line-height: 1.2;

      @media (min-width: $breakpoint1) {
        font-size: 3.2rem;
      }
    }
  }

  @media screen and (min-width: 768px) {
    .slick-dots {
      max-width: var(--max-width);
      margin: 20px auto 0 auto;
      justify-content: end;
      padding: 0 16px;

      button {
        width: 12px;
        height: 12px;
        border-radius: 2px;
        cursor: pointer;
      }

      .slick-active {
        button {
          width: 60px;
          height: 12px;
          cursor: default;
        }
      }
    }

    .copy-wrapper {
      .copy-content {
        padding-top: 4rem;
        padding-bottom: 1.5rem;
      }

      .hero-title {
        padding: 0 12% 0 1rem;
      }
    }
  }
}

.carousel-controls {
  display: flex;
  justify-content: end;
  gap: 8px;
  margin-top: 10px;
  font-size: 2rem;
  color: var(--brand-gray);

  button {
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    border: 1px solid var(--brand-gray);
    background-color: white;
    width: 40px;
    height: 40px;
    position: relative;
    border-radius: 2px;

    i {
      position: absolute;
      left: 50%;
      top: 50%;
      font-size: 1.5rem;
      transform: translate(-50%, -50%);
      color: var(--brand-yellow);
    }

    @media (hover: hover) {
      &:hover {
        border-color: var(--brand-yellow);
      }
    }
  }
}

.tabs-section {
  .tab-content {
    color: white;
    background-color: var(--brand-red);
    margin-bottom: 2rem;

    @media screen and (min-width: 768px) {
      margin-bottom: 60px;
    }
  }

  .section-title {
    max-width: var(--max-width);
    margin: 1rem auto;
    padding: 0 16px;
  }

  .tabs-list {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-bottom: 16px;

    max-width: var(--max-width);
    margin: 0 auto;
    padding-bottom: 5px;
    padding-left: 4rem;
    padding-right: 4rem;

    button {
      width: 25%;
      padding: 16px 0;
      line-height: 1;
      font-size: var(--font-subtitle);
      font-weight: 600;
      border-bottom: 8px solid transparent;
      cursor: pointer;
      transition: all 0.33s ease-in-out;

      &.active {
        border-color: var(--brand-yellow);
        cursor: default;
      }
    }
  }

  .accordion-header {
    background-color: white;
    color: #000;
    padding: 1rem 1rem 0.3rem 1rem;

    button {
      font-size: var(--font-subtitle);
      font-weight: 600;
      line-height: 1;
      width: 100%;
      text-align: left;
      border-bottom: 1px solid var(--brand-gray);
      padding-bottom: 10px;
    }

    &.active {
      button {
        border-bottom: 6px solid var(--brand-yellow);
        cursor: default;
      }
    }
  }

  .tab-hero-content {
    max-width: var(--max-width);
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    .title {
      color: white;
      line-height: 1.3;
    }

    .copy-wrapper {
      padding: 1rem;
    }

    .image-wrapper {
      height: 16rem;
      background-size: 120%;
      background-position: top;
      background-repeat: no-repeat;
    }

    @media screen and (min-width: 768px) {
      flex-direction: row;
      gap: 2rem;

      .copy-wrapper {
        padding: 5rem 1rem 8rem 1rem;
        max-width: 30%;
      }

      .image-wrapper {
        flex-grow: 1;
        height: auto;
        background-size: cover;
        background-position: center;
      }
    }
  }
}

.with-subsection {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  .subsection-content {
    position: relative;
    min-height: 260px;

    .text-wrapper {
      z-index: 11;
      position: relative;
    }

    .subsection-bg {
      position: absolute;
      bottom: -20px;
      right: 0;
      z-index: 10;
      max-width: 75%;
    }
  }

  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 2rem;

    .subsection-content {
      min-height: 300px;

      .text-wrapper {
        width: 55%;
      }
    }
  }
}
