@import "variables";
@import "furniture";
@import "fonts";
@import "navigation";
@import "utils";

#top-navigation {
  margin-top: -160px;
}

.pod {
  display: flex;
  flex-direction: column;
  background-image: url("../images/slide-bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio: 1.35 / 1;
  width: 350px;
  margin: 0 auto;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .title {
    margin: 0;
    text-align: center;
  }

  .image-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;

    img {
      max-width: 70%;
      height: auto;
      transition: transform 0.33s ease-in-out;
    }
  }

  @media (hover: hover) {
    &:hover {
      img {
        transform: scale(1.03);
      }

      &::after {
        opacity: 0.5;
      }
    }
  }
}

.carousel-main .slide {
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;

  @media (min-width: $breakpoint1) {
    height: 600px;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0)
    );
  }
}

.carousel-main {
  .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 8px;

    button {
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: var(--brand-gray);
    }

    .slick-active {
      button {
        background-color: var(--brand-yellow);
      }
    }
  }
}

.tabs-section {
  .tab-content {
    color: white;
    background-color: var(--brand-red);

    margin-bottom: 3rem;
  }

  .section-title {
    max-width: var(--max-width);
    margin: 0 auto 1rem auto;
  }

  .tabs-list {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-bottom: 16px;

    max-width: var(--max-width);
    margin: 0 auto;
    padding-bottom: 2px;
    padding-left: 4rem;
    padding-right: 4rem;

    button {
      width: 25%;
      padding: 12px 16px;
      font-size: 1.2rem;
      border-bottom: 6px solid transparent;
      cursor: pointer;
      transition: all 0.33s ease-in-out;

      &.active {
        border-color: var(--brand-yellow);
        cursor: default;
      }
    }
  }

  .accordion-header {
    background-color: white;
    color: #000;
    padding: 1rem 1rem 0.3rem 1rem;

    button {
      font-size: 1.2rem;
      line-height: 1;
      width: 100%;
      text-align: left;
      border-bottom: 1px solid var(--brand-gray);
      padding-bottom: 10px;
    }

    &.active {
      button {
        border-bottom: 6px solid var(--brand-yellow);
        cursor: default;
      }
    }
  }

  .tab-hero-content {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 1rem;

    .title {
      color: white;
      line-height: 1.3;
    }

    .copy-wrapper {
      padding: 0 0 10rem 0;
    }

    @media screen and (min-width: 768px) {
      padding-bottom: 1rem;

      .copy-wrapper {
        padding: 4rem 0 7rem 0;
        max-width: 30%;
      }
    }
  }
}
