@import "variables";
@import "furniture";
@import "fonts";
@import "navigation";
@import "utils";

#top-navigation {
  margin-top: -160px;
}

.section {
  margin: 0 auto;
  max-width: var(--max-width);
  margin-bottom: 36px;
}

.carousel-main .slide {
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;

  @media (min-width: $breakpoint1) {
    height: 600px;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0)
    );
  }
}

.carousel-main {
  .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 8px;

    button {
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: var(--brand-gray);
    }

    .slick-active {
      button {
        background-color: var(--brand-yellow);
      }
    }
  }
}

.carousel-mini {
  // .slide-list {
  //   margin: 0 -20px !important;
  // }

  .slide {
    display: flex;
    flex-direction: column;
    background-image: url("../images/slide-bg.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 1.35 / 1;
    width: 360px;
    margin: 0 10px;

    .title {
      background-color: aquamarine;
      margin: 0;
    }

    .image-wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    a {
      display: inline-block;
      max-width: 70%;

      @media (hover: hover) {
        &:hover {
          transform: scale(1.05);
          transition: transform 0.15s ease-in-out;
        }
      }
    }
  }
}
