@import "variables";
@import "furniture";
@import "fonts";
@import "navigation";
@import "utils";

#top-navigation {
  margin-top: -160px;
}

.carousel-main .slide {
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;

  @media (min-width: $breakpoint1) {
    height: 600px;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0)
    );
  }
}

.carousel-main {
  .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 8px;

    button {
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: var(--brand-gray);
    }

    .slick-active {
      button {
        background-color: var(--brand-yellow);
      }
    }
  }
}

.carousel-mini {
  // .slide-list {
  //   margin: 0 -20px !important;
  // }

  .slide {
    display: flex;
    flex-direction: column;
    background-image: url("../images/slide-bg.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 1.35 / 1;
    width: 360px;
    margin: 0 10px;

    .title {
      margin: 0;
      text-align: center;
    }

    .image-wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    a {
      display: inline-block;
      max-width: 70%;

      @media (hover: hover) {
        &:hover {
          transform: scale(1.05);
          transition: transform 0.15s ease-in-out;
        }
      }
    }
  }
}

.tabs-section {
  .tab-content {
    color: white;
    background-color: var(--brand-red);
  }

  .tabs-list {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-bottom: 16px;

    max-width: var(--max-width);
    margin: 0 auto;
    padding-bottom: 2px;
    padding-left: 4rem;
    padding-right: 4rem;

    button {
      width: 25%;
      padding: 12px 16px;
      font-size: 1.5rem;
      border-bottom: 6px solid transparent;
      cursor: pointer;

      &.active {
        border-color: var(--brand-yellow);
        cursor: default;
      }
    }
  }

  .accordion-header {
    background-color: white;
    color: #000;
    padding: 1rem;

    button {
      font-size: 1.2rem;
      line-height: 1;
      width: 100%;
      text-align: left;
    }
  }

  .tab-hero-content {
    max-width: var(--max-width);
    margin: 0 auto 36px auto;
    padding: 1rem 1rem 8rem 1rem;

    .title {
      color: white;
      line-height: 1.3;
    }

    @media screen and (min-width: 768px) {
      padding-bottom: 1rem;

      .copy-wrapper {
        padding: 5rem 0;
        max-width: 30%;
      }
    }
  }
}
