@import "variables";
@import "furniture";
@import "fonts";
@import "navigation";
@import "utils";

.hero {
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;

  @media (min-width: $breakpoint1) {
    height: 700px;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0)
    );
  }
}

#top-navigation {
  margin-top: -160px;
}
